In [1]:
"""# Import Libraries"""

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [2]:
#ignore warning messages 
import warnings
warnings.filterwarnings('ignore')

In [3]:
"""# Import Datasets"""

df_train = pd.read_csv('Train_Dataset.csv')

In [4]:
def set_outliers_to_nan(p , feature_boundries):
  df = p.copy()

  for key in feature_boundries.keys():
    feature = key
    lower_bound = feature_boundries[key][0]
    upper_bound = feature_boundries[key][1]
    print(feature , lower_bound , upper_bound)
    df.loc[df[feature] < lower_bound , feature] = np.nan
    df.loc[df[feature] > upper_bound, feature] = np.nan
  return df

def isNaN(num):
    if float('-inf') < float(num) < float('inf'):
        return False
    else:
        return True

def linear_regression_imputation_to_nan(p, corr_features):
    df = p.copy()
    for c_f in corr_features:
        # impute median for both same index values are nan
        f1 = c_f[0]
        f2 = c_f[1]
        df.loc[df[f1].isnull() & df[f2].isnull(), f1] = df[f1].median()
        df.loc[df[f1].isnull() & df[f2].isnull(), f2] = df[f2].median()

        model1 = LinearRegression()
        model2 = LinearRegression()
        data = df.dropna(subset=c_f)
        
        data_f1 = data[[f1]]
        data_f2 = data[[f2]]
      
        model1.fit(data_f1, data_f2)
        model2.fit(data_f2, data_f1)
        
        for i in df.index:
            if isNaN(df[f1][i]):
                x = np.array([[df[f2][i]]])
                df[f1][i] = model2.predict(x)[0][0]

            elif isNaN(df[f2][i]):
                x = np.array([[df[f1][i]]])

                df[f2][i] = model1.predict(x)[0][0]

    return df

def categorical_imputation_by_most_frequent_value(p, features):
    df = p.copy()
    for f in features:
        frq_val = df_train[~df_train[f].isnull()][f].value_counts().idxmax()
        df[f] = df[f].fillna(frq_val)
    return df

def nan_imputation_by_median(p, features):
    df = p.copy()
    for feature in features:
        df.loc[df[feature].isnull(), feature] = df[feature].median()
    return df

def show_correlations(dataframe, show_chart = True):
    fig = plt.figure(figsize = (20,10))
    corr = dataframe.corr()
    if show_chart == True:
        sns.heatmap(corr, 
                    xticklabels=corr.columns.values,
                    yticklabels=corr.columns.values,
                    annot=True)
    return corr

def kdeplot(feature , df):
    plt.figure(figsize=(9, 4))
    plt.title("KDE for {}".format(feature))
    ax0 = sns.kdeplot(df[df['Churn'] == 0][feature], color= 'navy', label= 'Churn: No')
    ax1 = sns.kdeplot(df[df['Churn'] == 1][feature], color= 'orange', label= 'Churn: Yes')
    plt.show()

In [5]:
"""# Define Variables"""

cat_col = ['location_code' , 'intertiol_plan' , 'voice_mail_plan' , 'Churn']

num_col = ['account_length',
             'number_vm_messages',
             'total_day_min',
             'total_day_calls',
             'total_day_charge',
             'total_eve_min',
             'total_eve_calls',
             'total_eve_charge',
             'total_night_minutes',
             'total_night_calls',
             'total_night_charge',
             'total_intl_minutes',
             'total_intl_calls',
             'total_intl_charge',
             'customer_service_calls']

feature_boundries = {'account_length': [0, 210],
                    'number_vm_messages': [0, 50],
                    'total_day_min': [0, 350],
                    'total_day_calls': [0, 160],
                    'total_day_charge': [0, 60],
                    'total_eve_min': [0, 400],
                    'total_eve_calls': [40, 170],
                    'total_eve_charge': [3, 31],
                    'total_night_minutes': [23, 400],
                    'total_night_calls': [30, 175],
                    'total_night_charge': [0, 20],
                    'total_intl_minutes': [0, 20],
                    'total_intl_calls': [0, 18],
                    'total_intl_charge': [0, 5],
                    'customer_service_calls': [0, 9]}

correlated_feature_couple = [['total_eve_charge', 'total_eve_min'],
                   ['total_night_charge', 'total_night_minutes'],
                   ['total_intl_charge', 'total_intl_minutes'],
                   ['total_day_charge', 'total_day_min']]

cat_col1 = ['location_code' , 'intertiol_plan' , 'voice_mail_plan']

non_corr_numer_col = ['account_length',
             'number_vm_messages',
             'total_day_calls',
             'total_eve_calls',
             'total_night_calls',
             'total_intl_calls',
             'customer_service_calls']

onehot_col = ['location_code_452' , 'location_code_445' ,'location_code_547']

In [6]:
"""# Drop Unwanted Columns"""

df_train = df_train.drop(columns=['Unnamed: 20'] , errors='ignore')

In [7]:
df1 = df_train.drop(columns=['customer_id'])

df1.duplicated().sum()

4

In [8]:
"""# Drop Duplicates"""

df1 = df_train.drop(columns=['customer_id'])

duplicates = df1.duplicated()

i = 0
dup_index = []
while i<=2320:
  if(duplicates[i]): dup_index.append(i)
  i += 1

df_train = df_train.drop(labels=dup_index, axis=0)

In [9]:
"""# Handle Invalid Data"""

for i in num_col:
  df_train[i] = np.where(df_train[i] < 0, np.NaN , df_train[i])

In [10]:
"""# Handle Outliers"""

df_train = set_outliers_to_nan(df_train , feature_boundries)

account_length 0 210
number_vm_messages 0 50
total_day_min 0 350
total_day_calls 0 160
total_day_charge 0 60
total_eve_min 0 400
total_eve_calls 40 170
total_eve_charge 3 31
total_night_minutes 23 400
total_night_calls 30 175
total_night_charge 0 20
total_intl_minutes 0 20
total_intl_calls 0 18
total_intl_charge 0 5
customer_service_calls 0 9

In [11]:
"""# Handle Missing Values"""

df_train = linear_regression_imputation_to_nan(df_train , correlated_feature_couple)

df_train = categorical_imputation_by_most_frequent_value(df_train , cat_col1)

df_train = nan_imputation_by_median(df_train , non_corr_numer_col)

df_train = df_train[~df_train['Churn'].isnull()]

In [12]:
df_train_onehot = df_train.copy()

In [13]:
enc = OneHotEncoder(handle_unknown='ignore')
enc_df_train = pd.DataFrame(enc.fit_transform(df_train_onehot[['location_code']]).toarray())

In [14]:
df_train_onehot.insert(2 , 'location_code_452' , enc_df_train[0].values , False)
df_train_onehot.insert(3 , 'location_code_445' , enc_df_train[1].values , False)
df_train_onehot.insert(4 , 'location_code_547' , enc_df_train[2].values , False)

In [15]:
df_train[onehot_col] = df_train_onehot[onehot_col]

In [16]:
df_train = df_train.drop(columns=['location_code'])

In [17]:
df_train.voice_mail_plan = df_train.voice_mail_plan.map(dict(yes=1, no=0))

In [18]:
df_train.intertiol_plan = df_train.intertiol_plan.map(dict(yes=1, no=0))

In [19]:
df_train.Churn = df_train.Churn.map(dict(Yes=1, No=0))

In [20]:
# new features
df_train['total_charge'] = df_train['total_intl_charge'] + df_train['total_night_charge'] + df_train[
    'total_eve_charge'] + df_train['total_day_charge']

In [21]:
df_train['total_calls'] = df_train['total_intl_calls'] + df_train['total_night_calls'] + df_train['total_eve_calls'] + \
                          df_train['total_day_calls']

In [22]:
df_train['total_min'] = df_train['total_intl_minutes'] + df_train['total_night_minutes'] + df_train['total_eve_min'] + \
                        df_train['total_day_min']

In [23]:
df_train["no_of_plans"] = df_train['intertiol_plan'] + df_train['voice_mail_plan']

In [24]:
df = df_train.drop(columns=['customer_id'])

In [25]:
df.isnull().sum()

account_length            0
intertiol_plan            0
voice_mail_plan           0
number_vm_messages        0
total_day_min             0
total_day_calls           0
total_day_charge          0
total_eve_min             0
total_eve_calls           0
total_eve_charge          0
total_night_minutes       0
total_night_calls         0
total_night_charge        0
total_intl_minutes        0
total_intl_calls          0
total_intl_charge         0
customer_service_calls    0
Churn                     0
location_code_452         0
location_code_445         0
location_code_547         0
total_charge              0
total_calls               0
total_min                 0
no_of_plans               0
dtype: int64

In [26]:
df.head(10)

,account_length,intertiol_plan,voice_mail_plan,number_vm_messages,total_day_min,total_day_calls,total_day_charge,total_eve_min,total_eve_calls,total_eve_charge,...,total_intl_charge,customer_service_calls,Churn,location_code_452,location_code_445,location_code_547,total_charge,total_calls,total_min,no_of_plans
0,15.0,0,0,0.0,121.1,130.0,20.59,216.0,86.0,18.36,...,4.35,2.0,0,0.0,1.0,0.0,53.88,254.0,588.3,0
1,105.0,0,0,0.0,259.3,96.0,44.08,175.2,97.0,14.89,...,3.24,3.0,0,0.0,1.0,0.0,72.22,234.0,668.9,0
2,97.0,0,1,32.0,183.4,94.0,31.18,269.1,120.0,22.87,...,1.81,5.0,0,0.0,1.0,0.0,65.02,256.0,662.7,1
3,121.0,0,1,35.0,68.7,95.0,11.68,209.2,69.0,17.78,...,3.08,1.0,0,1.0,0.0,0.0,41.42,210.0,486.7,1
4,98.0,0,1,22.0,278.3,89.0,47.31,93.4,143.0,7.94,...,2.62,0.0,0,0.0,1.0,0.0,62.71,279.0,489.0,1
5,151.0,0,1,17.0,214.7,97.0,36.50,138.5,90.0,11.77,...,2.32,1.0,0,1.0,0.0,0.0,58.20,235.0,530.9,1
6,170.0,0,1,42.0,185.5,111.0,34.92,145.0,94.0,11.48,...,2.94,4.0,1,0.0,1.0,0.0,57.65,252.0,517.0,1
7,39.0,0,0,0.0,60.4,158.0,10.27,306.2,120.0,26.03,...,3.35,1.0,0,1.0,0.0,0.0,45.23,327.0,502.9,0
8,94.0,0,0,0.0,262.2,105.0,48.10,216.6,102.0,18.22,...,3.11,3.0,1,0.0,0.0,1.0,79.40,257.0,725.9,0
9,93.0,1,0,0.0,168.4,114.0,28.63,276.0,127.0,23.46,...,3.08,1.0,0,0.0,0.0,1.0,64.00,292.0,652.0,1

In [27]:
y = df['Churn']
X = df.drop(columns = ['Churn'])

In [44]:
df.describe().reset_index()

,index,account_length,intertiol_plan,voice_mail_plan,number_vm_messages,total_day_min,total_day_calls,total_day_charge,total_eve_min,total_eve_calls,...,total_intl_charge,customer_service_calls,Churn,location_code_452,location_code_445,location_code_547,total_charge,total_calls,total_min,no_of_plans
0,count,2312.000000,2312.000000,2312.000000,2312.000000,2312.000000,2312.000000,2312.000000,2312.000000,2312.000000,...,2312.000000,2312.000000,2312.000000,2312.000000,2312.000000,2312.000000,2312.000000,2312.000000,2312.000000,2312.000000
1,mean,100.853374,0.121540,0.257353,7.642301,182.366453,100.734429,31.000186,201.517063,100.387543,...,2.773699,1.650952,0.248702,0.259083,0.495242,0.245675,59.953998,293.176038,595.185777,0.378893
2,std,39.193400,0.326824,0.437270,13.552296,57.567948,20.232476,9.745887,50.928594,19.530854,...,0.732983,1.429327,0.432354,0.438226,0.500086,0.430580,11.171265,31.292975,95.217311,0.546453
3,min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,42.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22.930000,191.000000,284.300000,0.000000
4,25%,74.000000,0.000000,0.000000,0.000000,144.200000,87.000000,24.507500,165.975000,87.000000,...,2.320000,1.000000,0.000000,0.000000,0.000000,0.000000,52.417500,272.000000,530.875000,0.000000
5,50%,101.000000,0.000000,0.000000,0.000000,180.450000,102.000000,30.600000,202.500000,101.000000,...,2.780000,1.000000,0.000000,0.000000,0.000000,0.000000,59.530000,294.000000,595.500000,0.000000
6,75%,126.000000,0.000000,1.000000,14.000000,221.000000,115.000000,37.605000,236.400000,114.000000,...,3.240000,2.000000,0.000000,1.000000,1.000000,0.000000,67.655000,314.000000,659.900000,1.000000
7,max,210.000000,1.000000,1.000000,50.000000,350.979402,160.000000,59.640000,358.500000,170.000000,...,4.940000,9.000000,1.000000,1.000000,1.000000,1.000000,96.150000,386.000000,885.000000,2.000000

In [28]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [29]:
# AdaBoost Algorithm
from sklearn.ensemble import AdaBoostClassifier
model2 = AdaBoostClassifier()
# n_estimators = 50 (default value) 
# base_estimator = DecisionTreeClassifier (default value)
model2.fit(X_train,y_train)
preds = model2.predict(X_test)
metrics.accuracy_score(y_test, preds)

0.8746397694524496

In [30]:
from xgboost import XGBClassifier
from sklearn import metrics
model3 = XGBClassifier()
model3.fit(X_train, y_train)
preds = model3.predict(X_test)
metrics.accuracy_score(y_test, preds)

[20:15:59] WARNING: D:\bld\xgboost-split_1645118015404\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

0.9697406340057637

In [31]:
from catboost import CatBoostClassifier


model4 = CatBoostClassifier(
    iterations=100, 
    learning_rate=0.05, 
    #loss_function='CrossEntropy'
)


model4.fit(X_train, y_train)

preds = model4.predict(X_test)
metrics.accuracy_score(y_test, preds)

0:	learn: 0.6370330	total: 72.2ms	remaining: 7.15s
1:	learn: 0.5920734	total: 78.4ms	remaining: 3.84s
2:	learn: 0.5461218	total: 84.3ms	remaining: 2.73s
3:	learn: 0.5077606	total: 90.6ms	remaining: 2.17s
4:	learn: 0.4827896	total: 97.1ms	remaining: 1.84s
5:	learn: 0.4599814	total: 104ms	remaining: 1.63s
6:	learn: 0.4317297	total: 110ms	remaining: 1.46s
7:	learn: 0.4086906	total: 117ms	remaining: 1.35s
8:	learn: 0.3817432	total: 123ms	remaining: 1.25s
9:	learn: 0.3646632	total: 130ms	remaining: 1.17s
10:	learn: 0.3439774	total: 136ms	remaining: 1.1s
11:	learn: 0.3306979	total: 142ms	remaining: 1.04s
12:	learn: 0.3140945	total: 149ms	remaining: 999ms
13:	learn: 0.3043804	total: 155ms	remaining: 954ms
14:	learn: 0.2923676	total: 162ms	remaining: 916ms
15:	learn: 0.2849960	total: 169ms	remaining: 886ms
16:	learn: 0.2790119	total: 175ms	remaining: 856ms
17:	learn: 0.2688333	total: 183ms	remaining: 834ms
18:	learn: 0.2642538	total: 190ms	remaining: 810ms
19:	learn: 0.2572765	total: 197ms	remaining: 787ms
20:	learn: 0.2504530	total: 203ms	remaining: 764ms
21:	learn: 0.2437385	total: 209ms	remaining: 741ms
22:	learn: 0.2358249	total: 215ms	remaining: 721ms
23:	learn: 0.2311221	total: 221ms	remaining: 701ms
24:	learn: 0.2269583	total: 229ms	remaining: 688ms
25:	learn: 0.2235052	total: 236ms	remaining: 671ms
26:	learn: 0.2194875	total: 243ms	remaining: 657ms
27:	learn: 0.2162253	total: 250ms	remaining: 643ms
28:	learn: 0.2123300	total: 258ms	remaining: 631ms
29:	learn: 0.2084320	total: 265ms	remaining: 618ms
30:	learn: 0.2049849	total: 273ms	remaining: 607ms
31:	learn: 0.2031245	total: 280ms	remaining: 595ms
32:	learn: 0.2006821	total: 287ms	remaining: 583ms
33:	learn: 0.1978192	total: 294ms	remaining: 571ms
34:	learn: 0.1959690	total: 301ms	remaining: 559ms
35:	learn: 0.1933640	total: 309ms	remaining: 548ms
36:	learn: 0.1911283	total: 315ms	remaining: 537ms
37:	learn: 0.1882876	total: 323ms	remaining: 527ms
38:	learn: 0.1861789	total: 330ms	remaining: 517ms
39:	learn: 0.1846675	total: 338ms	remaining: 507ms
40:	learn: 0.1816868	total: 346ms	remaining: 497ms
41:	learn: 0.1800612	total: 352ms	remaining: 487ms
42:	learn: 0.1781163	total: 358ms	remaining: 475ms
43:	learn: 0.1769645	total: 365ms	remaining: 464ms
44:	learn: 0.1746847	total: 371ms	remaining: 453ms
45:	learn: 0.1729834	total: 377ms	remaining: 442ms
46:	learn: 0.1714357	total: 384ms	remaining: 433ms
47:	learn: 0.1700591	total: 390ms	remaining: 422ms
48:	learn: 0.1688047	total: 396ms	remaining: 412ms
49:	learn: 0.1674939	total: 403ms	remaining: 403ms
50:	learn: 0.1659259	total: 412ms	remaining: 395ms
51:	learn: 0.1643496	total: 418ms	remaining: 386ms
52:	learn: 0.1632207	total: 425ms	remaining: 377ms
53:	learn: 0.1621408	total: 435ms	remaining: 371ms
54:	learn: 0.1605652	total: 448ms	remaining: 367ms
55:	learn: 0.1592752	total: 463ms	remaining: 364ms
56:	learn: 0.1582308	total: 478ms	remaining: 360ms
57:	learn: 0.1573186	total: 486ms	remaining: 352ms
58:	learn: 0.1567775	total: 493ms	remaining: 343ms
59:	learn: 0.1557041	total: 500ms	remaining: 334ms
60:	learn: 0.1549113	total: 509ms	remaining: 325ms
61:	learn: 0.1539120	total: 516ms	remaining: 316ms
62:	learn: 0.1523611	total: 525ms	remaining: 309ms
63:	learn: 0.1520797	total: 537ms	remaining: 302ms
64:	learn: 0.1510067	total: 544ms	remaining: 293ms
65:	learn: 0.1494569	total: 551ms	remaining: 284ms
66:	learn: 0.1487180	total: 558ms	remaining: 275ms
67:	learn: 0.1481410	total: 565ms	remaining: 266ms
68:	learn: 0.1472791	total: 573ms	remaining: 257ms
69:	learn: 0.1466584	total: 579ms	remaining: 248ms
70:	learn: 0.1455832	total: 588ms	remaining: 240ms
71:	learn: 0.1439582	total: 600ms	remaining: 233ms
72:	learn: 0.1435181	total: 610ms	remaining: 225ms
73:	learn: 0.1426891	total: 618ms	remaining: 217ms
74:	learn: 0.1416056	total: 626ms	remaining: 209ms
75:	learn: 0.1408270	total: 635ms	remaining: 201ms
76:	learn: 0.1399008	total: 645ms	remaining: 193ms
77:	learn: 0.1391950	total: 654ms	remaining: 184ms
78:	learn: 0.1379546	total: 661ms	remaining: 176ms
79:	learn: 0.1369342	total: 671ms	remaining: 168ms
80:	learn: 0.1362355	total: 679ms	remaining: 159ms
81:	learn: 0.1358423	total: 687ms	remaining: 151ms
82:	learn: 0.1348150	total: 694ms	remaining: 142ms
83:	learn: 0.1338197	total: 704ms	remaining: 134ms
84:	learn: 0.1328649	total: 713ms	remaining: 126ms
85:	learn: 0.1323223	total: 720ms	remaining: 117ms
86:	learn: 0.1316682	total: 728ms	remaining: 109ms
87:	learn: 0.1304779	total: 735ms	remaining: 100ms
88:	learn: 0.1291198	total: 743ms	remaining: 91.8ms
89:	learn: 0.1286255	total: 751ms	remaining: 83.4ms
90:	learn: 0.1278527	total: 758ms	remaining: 75ms
91:	learn: 0.1268221	total: 765ms	remaining: 66.6ms
92:	learn: 0.1261208	total: 773ms	remaining: 58.2ms
93:	learn: 0.1255309	total: 782ms	remaining: 49.9ms
94:	learn: 0.1247436	total: 791ms	remaining: 41.6ms
95:	learn: 0.1237779	total: 801ms	remaining: 33.4ms
96:	learn: 0.1228849	total: 809ms	remaining: 25ms
97:	learn: 0.1224224	total: 817ms	remaining: 16.7ms
98:	learn: 0.1218251	total: 827ms	remaining: 8.35ms
99:	learn: 0.1212952	total: 838ms	remaining: 0us

0.962536023054755

In [32]:
model_xg = XGBClassifier()
model_xg.fit(X, y)

[20:16:04] WARNING: D:\bld\xgboost-split_1645118015404\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [48]:
importances = model_xg.feature_importances_
importances.size
X.columns

Index(['account_length', 'intertiol_plan', 'voice_mail_plan',
       'number_vm_messages', 'total_day_min', 'total_day_calls',
       'total_day_charge', 'total_eve_min', 'total_eve_calls',
       'total_eve_charge', 'total_night_minutes', 'total_night_calls',
       'total_night_charge', 'total_intl_minutes', 'total_intl_calls',
       'total_intl_charge', 'customer_service_calls', 'location_code_452',
       'location_code_445', 'location_code_547', 'total_charge', 'total_calls',
       'total_min', 'no_of_plans'],
      dtype='object')

In [33]:
model_cat = CatBoostClassifier(iterations=100, 
    learning_rate=0.05,)
model_cat.fit(X, y)

0:	learn: 0.6325926	total: 5.92ms	remaining: 587ms
1:	learn: 0.5740583	total: 13ms	remaining: 639ms
2:	learn: 0.5273390	total: 18.1ms	remaining: 586ms
3:	learn: 0.4904729	total: 23.2ms	remaining: 558ms
4:	learn: 0.4570426	total: 28.8ms	remaining: 548ms
5:	learn: 0.4229577	total: 34.8ms	remaining: 545ms
6:	learn: 0.3946142	total: 40.6ms	remaining: 539ms
7:	learn: 0.3708370	total: 46.8ms	remaining: 539ms
8:	learn: 0.3496078	total: 51.8ms	remaining: 523ms
9:	learn: 0.3369240	total: 56.9ms	remaining: 512ms
10:	learn: 0.3194634	total: 62.6ms	remaining: 506ms
11:	learn: 0.3066971	total: 66.5ms	remaining: 488ms
12:	learn: 0.2960215	total: 70.5ms	remaining: 472ms
13:	learn: 0.2862050	total: 76.3ms	remaining: 469ms
14:	learn: 0.2726924	total: 81.5ms	remaining: 462ms
15:	learn: 0.2650457	total: 87.4ms	remaining: 459ms
16:	learn: 0.2578498	total: 93.3ms	remaining: 456ms
17:	learn: 0.2520021	total: 101ms	remaining: 458ms
18:	learn: 0.2470717	total: 149ms	remaining: 635ms
19:	learn: 0.2408646	total: 166ms	remaining: 663ms
20:	learn: 0.2342093	total: 177ms	remaining: 664ms
21:	learn: 0.2304217	total: 193ms	remaining: 683ms
22:	learn: 0.2237558	total: 203ms	remaining: 680ms
23:	learn: 0.2192022	total: 216ms	remaining: 685ms
24:	learn: 0.2129609	total: 220ms	remaining: 661ms
25:	learn: 0.2090099	total: 227ms	remaining: 645ms
26:	learn: 0.2046635	total: 233ms	remaining: 631ms
27:	learn: 0.2024034	total: 244ms	remaining: 628ms
28:	learn: 0.2000570	total: 250ms	remaining: 613ms
29:	learn: 0.1965711	total: 257ms	remaining: 601ms
30:	learn: 0.1936752	total: 262ms	remaining: 582ms
31:	learn: 0.1914210	total: 266ms	remaining: 564ms
32:	learn: 0.1890438	total: 270ms	remaining: 548ms
33:	learn: 0.1864711	total: 274ms	remaining: 532ms
34:	learn: 0.1846187	total: 278ms	remaining: 517ms
35:	learn: 0.1816842	total: 282ms	remaining: 502ms
36:	learn: 0.1801592	total: 287ms	remaining: 489ms
37:	learn: 0.1766702	total: 291ms	remaining: 475ms
38:	learn: 0.1753937	total: 295ms	remaining: 462ms
39:	learn: 0.1745744	total: 300ms	remaining: 449ms
40:	learn: 0.1735574	total: 304ms	remaining: 438ms
41:	learn: 0.1721662	total: 308ms	remaining: 426ms
42:	learn: 0.1713358	total: 312ms	remaining: 414ms
43:	learn: 0.1702117	total: 316ms	remaining: 403ms
44:	learn: 0.1682034	total: 321ms	remaining: 392ms
45:	learn: 0.1665419	total: 325ms	remaining: 381ms
46:	learn: 0.1642294	total: 329ms	remaining: 371ms
47:	learn: 0.1629991	total: 334ms	remaining: 362ms
48:	learn: 0.1618499	total: 338ms	remaining: 352ms
49:	learn: 0.1611230	total: 343ms	remaining: 343ms
50:	learn: 0.1602015	total: 347ms	remaining: 334ms
51:	learn: 0.1589904	total: 354ms	remaining: 327ms
52:	learn: 0.1575891	total: 361ms	remaining: 320ms
53:	learn: 0.1564977	total: 367ms	remaining: 312ms
54:	learn: 0.1555430	total: 371ms	remaining: 303ms
55:	learn: 0.1546166	total: 375ms	remaining: 295ms
56:	learn: 0.1535393	total: 380ms	remaining: 287ms
57:	learn: 0.1530305	total: 385ms	remaining: 278ms
58:	learn: 0.1516099	total: 389ms	remaining: 270ms
59:	learn: 0.1500514	total: 394ms	remaining: 263ms
60:	learn: 0.1498447	total: 399ms	remaining: 255ms
61:	learn: 0.1491341	total: 404ms	remaining: 248ms
62:	learn: 0.1482481	total: 412ms	remaining: 242ms
63:	learn: 0.1479843	total: 418ms	remaining: 235ms
64:	learn: 0.1472269	total: 422ms	remaining: 227ms
65:	learn: 0.1460171	total: 427ms	remaining: 220ms
66:	learn: 0.1455278	total: 432ms	remaining: 213ms
67:	learn: 0.1451627	total: 437ms	remaining: 205ms
68:	learn: 0.1446043	total: 441ms	remaining: 198ms
69:	learn: 0.1435770	total: 447ms	remaining: 191ms
70:	learn: 0.1427554	total: 451ms	remaining: 184ms
71:	learn: 0.1420939	total: 455ms	remaining: 177ms
72:	learn: 0.1416026	total: 459ms	remaining: 170ms
73:	learn: 0.1410340	total: 463ms	remaining: 163ms
74:	learn: 0.1405092	total: 467ms	remaining: 156ms
75:	learn: 0.1399362	total: 472ms	remaining: 149ms
76:	learn: 0.1390608	total: 477ms	remaining: 142ms
77:	learn: 0.1377600	total: 481ms	remaining: 136ms
78:	learn: 0.1366673	total: 485ms	remaining: 129ms
79:	learn: 0.1361310	total: 489ms	remaining: 122ms
80:	learn: 0.1348805	total: 495ms	remaining: 116ms
81:	learn: 0.1341315	total: 498ms	remaining: 109ms
82:	learn: 0.1331497	total: 502ms	remaining: 103ms
83:	learn: 0.1316615	total: 507ms	remaining: 96.6ms
84:	learn: 0.1310299	total: 511ms	remaining: 90.2ms
85:	learn: 0.1306471	total: 515ms	remaining: 83.9ms
86:	learn: 0.1297339	total: 519ms	remaining: 77.6ms
87:	learn: 0.1292311	total: 524ms	remaining: 71.5ms
88:	learn: 0.1289148	total: 528ms	remaining: 65.2ms
89:	learn: 0.1281500	total: 532ms	remaining: 59.1ms
90:	learn: 0.1275832	total: 536ms	remaining: 53ms
91:	learn: 0.1268806	total: 541ms	remaining: 47.1ms
92:	learn: 0.1260322	total: 546ms	remaining: 41.1ms
93:	learn: 0.1253184	total: 550ms	remaining: 35.1ms
94:	learn: 0.1247844	total: 556ms	remaining: 29.3ms
95:	learn: 0.1243462	total: 561ms	remaining: 23.4ms
96:	learn: 0.1237207	total: 566ms	remaining: 17.5ms
97:	learn: 0.1227252	total: 570ms	remaining: 11.6ms
98:	learn: 0.1221084	total: 575ms	remaining: 5.81ms
99:	learn: 0.1216800	total: 582ms	remaining: 0us

In [34]:
import joblib

In [35]:
filename = 'model_xg.sav'
joblib.dump(model_xg, filename)

['model_xg.sav']

In [36]:
filename = 'model_cat.sav'
joblib.dump(model_cat, filename)

['model_cat.sav']

In [49]:
X.to_csv('model_data.csv' , index = False)

In [37]:
# loaded_model = joblib.load(filename)

In [38]:
table = pd.DataFrame(data = df.mean() , columns = ['value'] , index = df.columns)
table

                             value
account_length          100.853374
intertiol_plan            0.121540
voice_mail_plan           0.257353
number_vm_messages        7.642301
total_day_min           182.366453
total_day_calls         100.734429
total_day_charge         31.000186
total_eve_min           201.517063
total_eve_calls         100.387543
total_eve_charge         17.135285
total_night_minutes     201.031197
total_night_calls        87.633218
total_night_charge        9.044828
total_intl_minutes       10.271065
total_intl_calls          4.420848
total_intl_charge         2.773699
customer_service_calls    1.650952
Churn                     0.248702
location_code_452         0.259083
location_code_445         0.495242
location_code_547         0.245675
total_charge             59.953998
total_calls             293.176038
total_min               595.185777
no_of_plans               0.378893

In [39]:
table['value']['intertiol_plan'] = int(df['intertiol_plan'].mode())
table['value']['voice_mail_plan'] = int(df['voice_mail_plan'].mode())
table['value']['location_code_452'] = int(df['location_code_452'].mode())
table['value']['location_code_445'] = int(df['location_code_445'].mode())
table['value']['location_code_547'] = int(df['location_code_547'].mode())
table['value']['no_of_plans'] = int(df['no_of_plans'].mode())

In [40]:
table

                             value
account_length          100.853374
intertiol_plan            0.000000
voice_mail_plan           0.000000
number_vm_messages        7.642301
total_day_min           182.366453
total_day_calls         100.734429
total_day_charge         31.000186
total_eve_min           201.517063
total_eve_calls         100.387543
total_eve_charge         17.135285
total_night_minutes     201.031197
total_night_calls        87.633218
total_night_charge        9.044828
total_intl_minutes       10.271065
total_intl_calls          4.420848
total_intl_charge         2.773699
customer_service_calls    1.650952
Churn                     0.248702
location_code_452         0.000000
location_code_445         0.000000
location_code_547         0.000000
total_charge             59.953998
total_calls             293.176038
total_min               595.185777
no_of_plans               0.000000

In [41]:
# table.to_pickle("model/table.pkl")

In [42]:
len(df.columns)

25

In [50]:
X.columns

Index(['account_length', 'intertiol_plan', 'voice_mail_plan',
       'number_vm_messages', 'total_day_min', 'total_day_calls',
       'total_day_charge', 'total_eve_min', 'total_eve_calls',
       'total_eve_charge', 'total_night_minutes', 'total_night_calls',
       'total_night_charge', 'total_intl_minutes', 'total_intl_calls',
       'total_intl_charge', 'customer_service_calls', 'location_code_452',
       'location_code_445', 'location_code_547', 'total_charge', 'total_calls',
       'total_min', 'no_of_plans'],
      dtype='object')